---
import Layout from "../layouts/Layout.astro";
import HeroBanner from "../components/home/HeroBanner.astro";
import Advantages from "../components/home/Advantages.astro";
import ChooseUs from "../components/home/ChooseUs.astro";
---

<Layout
	title="Solar Landing"
	description="Página principal de la página web de Solar Landind S.A"
>
	<main class="h-auto w-[100%] mx-auto p-4">
		<!-- Hero Banner -->
		<HeroBanner />
		<!-- Advatanges -->
		<Advantages />
		<!-- Chooese Us -->
		<ChooseUs />
	</main>
</Layout>
