---
import SliderMobile from './SliderMobile.astro'
---

<section id="section-adavantages" class="mx-auto text-center p-4 mt-[80px] lg:mt-[40px] w-full h-[100vh] lg:h-auto">
  <p class="text-indigo-500 text-[18px] font-[700] uppercase">Advantages</p>
  <h2 class="text-[42px] font-[600] capitalize">Benefits of Going Solar</h2>

  <SliderMobile />
</section>
