---

---

<section
  id="section-choose-us"
  class="flex flex-col mx-auto text-start p-4 mt-[80px] lg:mt-[40px] w-full h-[100vh] lg:h-auto"
>
  <img src="/banner-2.png" alt="Banner 2" />
  <div></div>
</section>
