---

---

<div
  class="flex flex-col justify-center lg:flex-row-reverse lg:items-center gap-4 lg:mt-[40px] w-full h-[100vh] lg:h-auto"
>
  <img
    src={"/banner-1.png"}
    alt="BannerOne"
    class="mt-4 lg:mt-0 rounded-md lg:w-1/2"
  />

  <div class="flex flex-col justify-center items-center lg:items-start">
    <h1 class="font-bold text-[42px] leading-[65px] text-center lg:text-start">
      Switch to Solar Energy Today
    </h1>
    <p
      class="text-[18px] font-normal leading-[34px] lowercase text-center lg:text-start"
    >
      Get a free quote and see how much you can save
    </p>
    <button
      class="bg-indigo-500 p-4 mt-4 rounded-md text-white font-bold text-[20px]"
      >Get A Free Energy Today</button
    >
  </div>
</div>
