---

---

<script type="module">
  import { createSlider } from "../../scripts/slider.js";

  createSlider({
    sliderSelector: "#slider",
    slidesSelector: ".slides",
    nextSlideSelector: "#next-slide",
    prevSlideSelector: "#prev-slide",
    selectSelectors: ["#selector-1", "#selector-2", "#selector-3"],
  });
</script>

<div
  class="flex flex-col justify-center items-center mx-auto mt-[40px] gap-[40px] relative"
  id="slider"
>
  <div class="slides">
    <!-- Card 1 -->
    <div class="flex flex-col items-center justify-center text-center slide">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="145"
        height="144"
        viewBox="0 0 145 144"
        fill="none"
      >
        <path
          d="M100.011 89.278C105.737 80.1454 106.561 68.7687 102.214 58.9067C97.8649 49.0441 88.9106 41.9789 78.3066 40.045C67.7038 38.1102 56.8312 41.5598 49.2811 49.2525C41.7318 56.9448 38.4873 67.8809 40.6201 78.4453C42.7519 89.011 49.984 97.8315 59.9264 101.994C69.8689 106.156 81.2278 105.118 90.2526 99.2221L81.7526 90.722C75.7977 93.6718 68.796 93.6211 62.8847 90.5851C56.9727 87.5501 52.852 81.8899 51.7788 75.3318C50.7046 68.7736 52.8064 62.0952 57.4422 57.3327C62.077 52.5713 68.6962 50.2904 75.2815 51.1873C81.8667 52.0842 87.6346 56.0512 90.8281 61.8794C94.0216 67.7076 94.2613 74.7043 91.473 80.7369L100.011 89.278Z"
          fill="#36689E"></path>
        <path
          d="M124.373 110.354H114.521L82.3151 78.1483C84.3495 74.8739 84.619 70.802 83.0337 67.2882C81.4493 63.7743 78.2173 61.2816 74.4162 60.6398C70.6162 59.9979 66.7456 61.2919 64.0942 64.0905C61.444 66.889 60.3616 70.8249 61.2086 74.5845C62.0557 78.3452 64.7203 81.4371 68.3144 82.8287C71.9092 84.2213 75.9614 83.7308 79.1195 81.5213L111.235 113.637V123.491L125.733 137.991V124.851H138.872L124.373 110.354Z"
          fill="#36689E"></path>
        <path
          d="M16.7487 39.3572L16.7601 44.1269L21.4053 44.1155L21.3949 39.3593C24.1332 38.9736 26.486 37.2203 27.638 34.706C28.7889 32.1916 28.5805 29.2645 27.0843 26.9387C25.5871 24.6141 23.0093 23.2112 20.244 23.2184H17.9214C15.997 23.2184 14.4376 21.6579 14.4376 19.7345C14.4376 17.8101 15.997 16.2506 17.9214 16.2506H20.244C22.1674 16.2527 23.7258 17.8111 23.7279 19.7345V20.8958H28.373V19.7345C28.3668 17.7831 27.6597 15.9003 26.3791 14.4289C25.0986 12.9576 23.3309 11.9975 21.4001 11.7217L21.3887 6.95422L16.7446 6.96563L16.7549 11.7228C14.0196 12.1147 11.6724 13.8712 10.5243 16.3844C9.37756 18.8978 9.58806 21.8227 11.0853 24.1453C12.5825 26.4678 15.1582 27.8696 17.9214 27.8635H20.2439C22.1684 27.8635 23.7278 29.423 23.7278 31.3474C23.7278 33.2708 22.1684 34.8312 20.2439 34.8312H17.9214C15.998 34.8292 14.4396 33.2697 14.4375 31.3474V30.1861H9.79234V31.3474C9.79752 33.2946 10.5036 35.1755 11.781 36.6458C13.0585 38.1161 14.8211 39.0793 16.7487 39.3572H16.7487Z"
          fill="#36689E"></path>
        <path
          d="M16.7594 141.675V127.74H28.3722C28.9881 127.74 29.5792 127.495 30.0146 127.06C30.4501 126.624 30.6948 126.033 30.6948 125.417V109.159H40.9866C49.4153 116.355 60.0546 120.446 71.1323 120.754C82.2101 121.061 93.0588 117.563 101.873 110.844L95.246 104.218C84.4023 111.85 70.4494 113.524 58.1087 108.671C45.769 103.817 36.6921 93.0889 33.9528 80.1151C31.2124 67.1419 35.1753 53.6584 44.4997 44.2306C53.8242 34.8023 67.262 30.6901 80.2647 33.2874C93.269 35.8837 104.097 44.8401 109.086 57.1261C114.075 69.4129 112.556 83.3827 105.044 94.3112L111.671 100.938C117.49 93.1407 120.821 83.7694 121.232 74.0491C121.641 64.3285 119.11 54.7106 113.969 46.4515H121.274C121.89 46.4515 122.481 46.2068 122.917 45.7714C123.352 45.3359 123.597 44.7449 123.597 44.129V30.1935H135.21C135.826 30.1935 136.417 29.9488 136.852 29.5133C137.288 29.0778 137.532 28.4868 137.532 27.8709V13.9355H144.5L135.21 0L125.919 13.9355H132.887V25.5483H121.274C120.658 25.5483 120.067 25.7931 119.632 26.2285C119.196 26.664 118.952 27.255 118.952 27.8709V41.8064H110.731C105.332 34.9393 98.1862 29.6491 90.0418 26.492C81.8971 23.3357 73.0528 22.4265 64.4364 23.8614C55.819 25.2965 47.747 29.0218 41.0644 34.648C34.3817 40.274 29.3352 47.5942 26.4539 55.8405C23.5715 64.0866 22.9608 72.9559 24.684 81.5195C26.4073 90.0841 30.4023 98.0265 36.2491 104.516H28.3709C27.755 104.516 27.164 104.761 26.7285 105.196C26.293 105.632 26.0483 106.223 26.0483 106.839V123.097H14.4355C13.8196 123.097 13.2285 123.342 12.7931 123.777C12.3576 124.212 12.1129 124.803 12.1129 125.419V139.355H0.5V144H14.4355C15.0514 144 15.6424 143.755 16.0778 143.32C16.5133 142.884 16.758 142.293 16.758 141.677L16.7594 141.675Z"
          fill="#36689E"></path>
      </svg>
      <h3
        class="text-indigo-500 text-[32px] font-[500] mt-[20px] max-w-[300px]"
      >
        Cost Savings
      </h3>
      <p
        class="text-[20px] font-[400] mt-[20px] mb-[20px] break-words max-w-[300px]"
      >
        Enjoy sginificant savings on your energy bills
      </p>
    </div>
    <!-- Card 2 -->
    <div class="flex flex-col items-center justify-center text-center slide">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="145"
        height="144"
        viewBox="0 0 145 144"
        fill="none"
      >
        <path
          d="M100.011 89.278C105.737 80.1454 106.561 68.7687 102.214 58.9067C97.8649 49.0441 88.9106 41.9789 78.3066 40.045C67.7038 38.1102 56.8312 41.5598 49.2811 49.2525C41.7318 56.9448 38.4873 67.8809 40.6201 78.4453C42.7519 89.011 49.984 97.8315 59.9264 101.994C69.8689 106.156 81.2278 105.118 90.2526 99.2221L81.7526 90.722C75.7977 93.6718 68.796 93.6211 62.8847 90.5851C56.9727 87.5501 52.852 81.8899 51.7788 75.3318C50.7046 68.7736 52.8064 62.0952 57.4422 57.3327C62.077 52.5713 68.6962 50.2904 75.2815 51.1873C81.8667 52.0842 87.6346 56.0512 90.8281 61.8794C94.0216 67.7076 94.2613 74.7043 91.473 80.7369L100.011 89.278Z"
          fill="#36689E"></path>
        <path
          d="M124.373 110.354H114.521L82.3151 78.1483C84.3495 74.8739 84.619 70.802 83.0337 67.2882C81.4493 63.7743 78.2173 61.2816 74.4162 60.6398C70.6162 59.9979 66.7456 61.2919 64.0942 64.0905C61.444 66.889 60.3616 70.8249 61.2086 74.5845C62.0557 78.3452 64.7203 81.4371 68.3144 82.8287C71.9092 84.2213 75.9614 83.7308 79.1195 81.5213L111.235 113.637V123.491L125.733 137.991V124.851H138.872L124.373 110.354Z"
          fill="#36689E"></path>
        <path
          d="M16.7487 39.3572L16.7601 44.1269L21.4053 44.1155L21.3949 39.3593C24.1332 38.9736 26.486 37.2203 27.638 34.706C28.7889 32.1916 28.5805 29.2645 27.0843 26.9387C25.5871 24.6141 23.0093 23.2112 20.244 23.2184H17.9214C15.997 23.2184 14.4376 21.6579 14.4376 19.7345C14.4376 17.8101 15.997 16.2506 17.9214 16.2506H20.244C22.1674 16.2527 23.7258 17.8111 23.7279 19.7345V20.8958H28.373V19.7345C28.3668 17.7831 27.6597 15.9003 26.3791 14.4289C25.0986 12.9576 23.3309 11.9975 21.4001 11.7217L21.3887 6.95422L16.7446 6.96563L16.7549 11.7228C14.0196 12.1147 11.6724 13.8712 10.5243 16.3844C9.37756 18.8978 9.58806 21.8227 11.0853 24.1453C12.5825 26.4678 15.1582 27.8696 17.9214 27.8635H20.2439C22.1684 27.8635 23.7278 29.423 23.7278 31.3474C23.7278 33.2708 22.1684 34.8312 20.2439 34.8312H17.9214C15.998 34.8292 14.4396 33.2697 14.4375 31.3474V30.1861H9.79234V31.3474C9.79752 33.2946 10.5036 35.1755 11.781 36.6458C13.0585 38.1161 14.8211 39.0793 16.7487 39.3572H16.7487Z"
          fill="#36689E"></path>
        <path
          d="M16.7594 141.675V127.74H28.3722C28.9881 127.74 29.5792 127.495 30.0146 127.06C30.4501 126.624 30.6948 126.033 30.6948 125.417V109.159H40.9866C49.4153 116.355 60.0546 120.446 71.1323 120.754C82.2101 121.061 93.0588 117.563 101.873 110.844L95.246 104.218C84.4023 111.85 70.4494 113.524 58.1087 108.671C45.769 103.817 36.6921 93.0889 33.9528 80.1151C31.2124 67.1419 35.1753 53.6584 44.4997 44.2306C53.8242 34.8023 67.262 30.6901 80.2647 33.2874C93.269 35.8837 104.097 44.8401 109.086 57.1261C114.075 69.4129 112.556 83.3827 105.044 94.3112L111.671 100.938C117.49 93.1407 120.821 83.7694 121.232 74.0491C121.641 64.3285 119.11 54.7106 113.969 46.4515H121.274C121.89 46.4515 122.481 46.2068 122.917 45.7714C123.352 45.3359 123.597 44.7449 123.597 44.129V30.1935H135.21C135.826 30.1935 136.417 29.9488 136.852 29.5133C137.288 29.0778 137.532 28.4868 137.532 27.8709V13.9355H144.5L135.21 0L125.919 13.9355H132.887V25.5483H121.274C120.658 25.5483 120.067 25.7931 119.632 26.2285C119.196 26.664 118.952 27.255 118.952 27.8709V41.8064H110.731C105.332 34.9393 98.1862 29.6491 90.0418 26.492C81.8971 23.3357 73.0528 22.4265 64.4364 23.8614C55.819 25.2965 47.747 29.0218 41.0644 34.648C34.3817 40.274 29.3352 47.5942 26.4539 55.8405C23.5715 64.0866 22.9608 72.9559 24.684 81.5195C26.4073 90.0841 30.4023 98.0265 36.2491 104.516H28.3709C27.755 104.516 27.164 104.761 26.7285 105.196C26.293 105.632 26.0483 106.223 26.0483 106.839V123.097H14.4355C13.8196 123.097 13.2285 123.342 12.7931 123.777C12.3576 124.212 12.1129 124.803 12.1129 125.419V139.355H0.5V144H14.4355C15.0514 144 15.6424 143.755 16.0778 143.32C16.5133 142.884 16.758 142.293 16.758 141.677L16.7594 141.675Z"
          fill="#36689E"></path>
      </svg>
      <h3
        class="text-indigo-500 text-[32px] font-[500] mt-[20px] max-w-[300px]"
      >
        Environmental Impact
      </h3>
      <p
        class="text-[20px] font-[400] mt-[20px] mb-[20px] break-words max-w-[300px]"
      >
        Reduece your carbon footprint and help the planet
      </p>
    </div>
    <!-- Card 3 -->
    <div class="flex flex-col items-center justify-center text-center slide">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="145"
        height="144"
        viewBox="0 0 145 144"
        fill="none"
      >
        <path
          d="M100.011 89.278C105.737 80.1454 106.561 68.7687 102.214 58.9067C97.8649 49.0441 88.9106 41.9789 78.3066 40.045C67.7038 38.1102 56.8312 41.5598 49.2811 49.2525C41.7318 56.9448 38.4873 67.8809 40.6201 78.4453C42.7519 89.011 49.984 97.8315 59.9264 101.994C69.8689 106.156 81.2278 105.118 90.2526 99.2221L81.7526 90.722C75.7977 93.6718 68.796 93.6211 62.8847 90.5851C56.9727 87.5501 52.852 81.8899 51.7788 75.3318C50.7046 68.7736 52.8064 62.0952 57.4422 57.3327C62.077 52.5713 68.6962 50.2904 75.2815 51.1873C81.8667 52.0842 87.6346 56.0512 90.8281 61.8794C94.0216 67.7076 94.2613 74.7043 91.473 80.7369L100.011 89.278Z"
          fill="#36689E"></path>
        <path
          d="M124.373 110.354H114.521L82.3151 78.1483C84.3495 74.8739 84.619 70.802 83.0337 67.2882C81.4493 63.7743 78.2173 61.2816 74.4162 60.6398C70.6162 59.9979 66.7456 61.2919 64.0942 64.0905C61.444 66.889 60.3616 70.8249 61.2086 74.5845C62.0557 78.3452 64.7203 81.4371 68.3144 82.8287C71.9092 84.2213 75.9614 83.7308 79.1195 81.5213L111.235 113.637V123.491L125.733 137.991V124.851H138.872L124.373 110.354Z"
          fill="#36689E"></path>
        <path
          d="M16.7487 39.3572L16.7601 44.1269L21.4053 44.1155L21.3949 39.3593C24.1332 38.9736 26.486 37.2203 27.638 34.706C28.7889 32.1916 28.5805 29.2645 27.0843 26.9387C25.5871 24.6141 23.0093 23.2112 20.244 23.2184H17.9214C15.997 23.2184 14.4376 21.6579 14.4376 19.7345C14.4376 17.8101 15.997 16.2506 17.9214 16.2506H20.244C22.1674 16.2527 23.7258 17.8111 23.7279 19.7345V20.8958H28.373V19.7345C28.3668 17.7831 27.6597 15.9003 26.3791 14.4289C25.0986 12.9576 23.3309 11.9975 21.4001 11.7217L21.3887 6.95422L16.7446 6.96563L16.7549 11.7228C14.0196 12.1147 11.6724 13.8712 10.5243 16.3844C9.37756 18.8978 9.58806 21.8227 11.0853 24.1453C12.5825 26.4678 15.1582 27.8696 17.9214 27.8635H20.2439C22.1684 27.8635 23.7278 29.423 23.7278 31.3474C23.7278 33.2708 22.1684 34.8312 20.2439 34.8312H17.9214C15.998 34.8292 14.4396 33.2697 14.4375 31.3474V30.1861H9.79234V31.3474C9.79752 33.2946 10.5036 35.1755 11.781 36.6458C13.0585 38.1161 14.8211 39.0793 16.7487 39.3572H16.7487Z"
          fill="#36689E"></path>
        <path
          d="M16.7594 141.675V127.74H28.3722C28.9881 127.74 29.5792 127.495 30.0146 127.06C30.4501 126.624 30.6948 126.033 30.6948 125.417V109.159H40.9866C49.4153 116.355 60.0546 120.446 71.1323 120.754C82.2101 121.061 93.0588 117.563 101.873 110.844L95.246 104.218C84.4023 111.85 70.4494 113.524 58.1087 108.671C45.769 103.817 36.6921 93.0889 33.9528 80.1151C31.2124 67.1419 35.1753 53.6584 44.4997 44.2306C53.8242 34.8023 67.262 30.6901 80.2647 33.2874C93.269 35.8837 104.097 44.8401 109.086 57.1261C114.075 69.4129 112.556 83.3827 105.044 94.3112L111.671 100.938C117.49 93.1407 120.821 83.7694 121.232 74.0491C121.641 64.3285 119.11 54.7106 113.969 46.4515H121.274C121.89 46.4515 122.481 46.2068 122.917 45.7714C123.352 45.3359 123.597 44.7449 123.597 44.129V30.1935H135.21C135.826 30.1935 136.417 29.9488 136.852 29.5133C137.288 29.0778 137.532 28.4868 137.532 27.8709V13.9355H144.5L135.21 0L125.919 13.9355H132.887V25.5483H121.274C120.658 25.5483 120.067 25.7931 119.632 26.2285C119.196 26.664 118.952 27.255 118.952 27.8709V41.8064H110.731C105.332 34.9393 98.1862 29.6491 90.0418 26.492C81.8971 23.3357 73.0528 22.4265 64.4364 23.8614C55.819 25.2965 47.747 29.0218 41.0644 34.648C34.3817 40.274 29.3352 47.5942 26.4539 55.8405C23.5715 64.0866 22.9608 72.9559 24.684 81.5195C26.4073 90.0841 30.4023 98.0265 36.2491 104.516H28.3709C27.755 104.516 27.164 104.761 26.7285 105.196C26.293 105.632 26.0483 106.223 26.0483 106.839V123.097H14.4355C13.8196 123.097 13.2285 123.342 12.7931 123.777C12.3576 124.212 12.1129 124.803 12.1129 125.419V139.355H0.5V144H14.4355C15.0514 144 15.6424 143.755 16.0778 143.32C16.5133 142.884 16.758 142.293 16.758 141.677L16.7594 141.675Z"
          fill="#36689E"></path>
      </svg>
      <h3
        class="text-indigo-500 text-[32px] font-[500] mt-[20px] max-w-[300px]"
      >
        Energy Independence
      </h3>
      <p
        class="text-[20px] font-[400] mt-[20px] mb-[20px] break-words max-w-[300px]"
      >
        Generate your own power and reduce your reliance on the grid
      </p>
    </div>
  </div>
  <div
    id="next-slide"
    class="absolute -right-[10px] text-indigo-500 cursor-pointer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-12 h-12"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
    </svg>
  </div>
  <div
    id="prev-slide"
    class="absolute -left-[10px] text-indigo-500 cursor-pointer"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-12 h-12"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 19.5 8.25 12l7.5-7.5"></path>
    </svg>
  </div>
  <div class="absolute bottom-[10px] flex items-center gap-4">
    <div class="rounded-full bg-[#36689E] h-6 w-6" id="selector-1"></div>
    <div class="rounded-full bg-slate-300 h-6 w-6" id="selector-2"></div>
    <div class="rounded-full bg-slate-300 h-6 w-6" id="selector-3"></div>
  </div>
</div>
<style>
  #slider {
    overflow: hidden;
    height: 435px;
    width: 100%;
  }
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .slide {
    min-width: 100%;
  }
</style>
