---
interface Props {
  href?: string;
  pathname: string;
  ariaLabel?: string;
  class?: string;
}
const { href, pathname, ariaLabel, class: className }: Props = Astro.props;
---

<a
  href={href}
  aria-label={ariaLabel}
  class:list={[
    "text-gray-500",
    "hover:text-gray-900",
    pathname === href ? "font-bold text-black" : "",
    className,
  ]}
>
  <slot />
</a>
