---
import { ViewTransitions } from "astro:transitions";
import NavBar from "../components/NavBar.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<slot name="preload" />
		<ViewTransitions />
	</head>
	<body class="container mx-auto p-4 bg-white">
		<NavBar />
		<slot />
		<style is:global>
			html {
				font-family: system-ui, sans-serif;
				color: #0f0f0f;
			}
			#menu-mobile::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: -1;
				background: #fff;
			}
		</style>
	</body>
</html>
